<nav class="navbar  navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular app</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#" (click)="selectBar('home')">Home</a></li>
      <li><a href="#" (click)="selectBar('books')">Books</a></li>
      <li><a href="#" (click)="selectBar('cars')">Cars</a></li>
      <li><a href="#" (click)="selectBar('planes')">Planes</a></li>
    </ul>
  </div>
</nav>
