<div class="myContainer">
  <div class="model">
    <h3>Login user</h3>
    <form class="row row-cols-sm-auto g-3 align-items-center">

      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">User Name     </div>
          <input type="text"  [(ngModel)]="userName" class="form-control" name="usr" placeholder="Enter Your username">
        </div>
      </div>

      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">Password</div>
          <input type="password" [(ngModel)]="password" class="form-control" name="pswd" placeholder="Enter your password">
        </div>
      </div>


      <div class="col-12">
        <button type="button" class="btn btn-danger" (click)="loignUser()">Login User</button>
        <p class="bg-light fs-5 text-muted" *ngIf="showMessage">
          {{logProcessMessage}}  <span class="spinner-grow spinner-grow-sm text-danger" role="status" aria-hidden="true"></span>
        </p>
      </div>
    </form>
  </div>
</div>
