<div class="container">
  <h2 class="bg-info">Here Directives will be implemented</h2>
  <button class="btn btn-xs btn-danger" (click)="disableStatus()">Disble</button> &nbsp;
  <button class="btn btn-xs btn-success" (click)="enableStatus()">Enable</button>

  <h4 class="text-info">
    Status:
    <span *ngIf="status;else noStatus" class="text-success">Current Status is Active</span>

    <ng-template #noStatus>
      <span class="text-danger">Current Status is Disabled</span>
    </ng-template>
  </h4>
  <p>Status: <span [ngStyle]="{'color':getColor()}"> {{status}}</span></p>
  <h4 class="text-info">Types of Server: </h4>
  <p *ngFor="let serv of servers" class="text-success">{{serv}}</p>

  <hr>
  <h3>Local refrence template</h3>
  <label for="smallInput">Give serverName: &nbsp; </label><input type="text" class="input-sm" id="smallInput" #servName>
  <button (click)="saveServerName(servName.value)">Save Server Name</button>
  <h3 #sampleVal>Local Template and DOM with @viewChild</h3>
  <button class="btn-info btn-sm" (click)="changeVal()">Change value</button>

</div>
