<h1>Angular forms , Template Dirven and Reactive</h1>
<form class="row row-cols-sm-auto g-3 align-items-center">
  <div class="col-6">
    <div class="input-group">
      <div class="input-group-text">First  Name</div>
      <input type="text"  class="form-control"  placeholder="First Name" name="fname">
    </div>
  </div>
  <div class="col-6">
    <div class="input-group">
      <div class="input-group-text">Last Name</div>
      <input type="text"  class="form-control"  placeholder="Last Name" name="lname">
    </div>
  </div>
  <div class="col-12">
    <div class="input-group">
      <div class="input-group-text">User Name     </div>
      <input type="text"   class="form-control" name="usrname" id="inlineFormInputGroupUsername" placeholder="Choose a username">
    </div>
  </div>

  <div class="col-12">
    <div class="input-group">
      <div class="input-group-text">Your Email</div>
      <input type="email"  class="form-control" name="email" placeholder="Enter your email">
    </div>
  </div>

  <div class="col-12">
    <div class="input-group">
      <div class="input-group-text">Password</div>
      <input type="password"  class="form-control" name="pswd" placeholder="Enter a strong password">
    </div>
  </div>


  <div class="col-6">
    <button type="button" class="btn btn-success">Update User</button>
  </div>

</form>
